#banner {
  font-family: "Orbitron", sans-serif;
  background-color: black;
  background-image: url("../images/global.jpg");
  background-size: cover;
  text-shadow: 3px 3px #000000;
  color: white;
}

#copy {
  font-family: "Cinzel", serif;
  font-variant: small-caps;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
